@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*
Nav Section Styles
*/

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

a:hover {
    color: #388e3c !important;
}

body {
    background: #171717;
    padding: 20px;
    animation: fadeIntoAnimation ease 2s;
}

nav {
    display: flex;
    gap: 20px;
}

nav .logo {
    height: 64px;
    width: 64px;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo i {
    font-size: 26px;
    color: #388e3c;
}

nav .links {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 66px;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 48px;
}

nav .links a {
    font-size: 20px;
}

nav .links a.active {
    font-weight: bold;
    color: #388e3c;
}

/*
About Section Styles
 */

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 42px;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 14px;
    margin-top: 20px;
}

.about .left h3 {
    color: #bdbdbd;
    font-size: 24px;
    font-weight: 400;
}

.about .left .info {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .left .info h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 500;
}

.about .left .info p {
    font-size: 20px;
    color: #bdbdbd;
}

.about .left .info .buttons {
    display: flex;
    gap: 14px;
}

.about .left .info .buttons button {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about .left .info .buttons button.hire {
    color: #fff;
    background: #388e3c;
    border: 1px solid #171717;
}

.about .left .info .buttons button:hover {
    background: #4caf50;
}

.about .left .info .buttons button.email {
    color: #bdbdbd;
    border: 1px solid #27272a;
    background: #171717;
}

.about .left .info .buttons button.email:hover {
    background: #000;
}

.about .right a.online {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #171717;
    border: 1px solid #27272a;
    padding: 4px 15px;
    border-radius: 14px;
    font-size: 13px;
}

.about .right a.online i {
    color: #4caf50;
    font-size: 9px;
}

.about .right img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #2c2c2c;
    margin-top: 70px;
}













